{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <h2>Your Trusted Online Pharmacy</h2>
    <p>Medicines delivered safely to your doorstep.</p>
</section>

<section class="categories">
    <h2>Categories</h2>
    <div class="category-container">
        <a href="{% url 'home' %}">
            <div class="category-card">All Products</div>
        </a>
        {% for category in categories %}
        <a href="{% url 'home' %}?category={{ category.id }}">
            <div class="category-card">{{ category.name }}</div>
        </a>
        {% endfor %}
    </div>
</section>

<section class="medicines">
    <h2>Medicines</h2>
    <div class="medicine-container">
        {% for medicine in medicines %}
        <div class="medicine-card">
            <img src="{{ medicine.image }}" alt="{{ medicine.name }}">
            <h3>{{ medicine.name }}</h3>
            <p>{{ medicine.company }}</p>
            <p style="font-size: 0.8rem; color: var(--accent); margin-bottom: 1rem;">Sold by: {{ medicine.pharmacy.name }}</p>
            <h4>₹ {{ medicine.price }}</h4>
            <a href="{% url 'add_to_cart' medicine.id %}">
                <button>Add to Cart</button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
